Package: nockio
Version: 1.2-3
Section: base
Priority: optional
Architecture: amd64
Depends: docker-ce
Maintainer: Nadav Tasher <tashernadav@gmail.com>
Description: Nockio
 A simple Docker-based Platform-as-a-Service
